<h2>Sandbox</h2>

<button (click)="solutionVisible = !solutionVisible">
  Toggle Solutions
</button>


<h3>Deck</h3>
<div *ngIf="currentDeck.cards && currentDeck.problemTemplate && currentDeck.solutionTemplate" style="display: flex;">


</div>

<h3>Variable width</h3>
<div style="
  margin: 20px;
  padding: 20px;
  border: 3px solid blue;
  width: 50%;
">
  <sd-scaling-wrapper>

    <!--
      Example of a content template that takes up the entire scaling wrapper
      area, with content horizontally and vertically centered using flexbox.
    -->
    <div style="
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
    ">
      <!--
        This inner div is required so the flexbox only has one
        element to h/v center. Otherwise each of the elements gets
        distributed horizontally.
      -->
      <div>
        <div style="color: red; font-size: 72px;">
          Large text above the image.
          Large text above the image.
          Large text above the image.
        </div>

        <!-- This image should take up half the width of the scaling wrapper -->
        <img src="sparrow/images/image1.jpeg" style="width: 512px;">

        <div style="color: green; font-size: 48px;">
          Smaller text below the image.
          Smaller text below the image.
          Smaller text below the image.
        </div>
      </div>
    </div>

  </sd-scaling-wrapper>
</div>

<h3>Fixed width</h3>
<div style="
  margin: 20px;
  padding: 20px;
  border: 3px solid blue;
  width: 500px;
">
  <sd-scaling-wrapper>

    <!--
      Example of a content template that takes up the entire scaling wrapper
      area, with content horizontally and vertically centered using flexbox.
    -->
    <div style="
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
    ">
      <!--
        This inner div is required so the flexbox only has one
        element to h/v center. Otherwise each of the elements gets
        distributed horizontally.
      -->
      <div>
        <div style="color: red; font-size: 72px;">
          Large text above the image.
          Large text above the image.
          Large text above the image.
        </div>

        <!-- This image should take up half the width of the scaling wrapper -->
        <img src="sparrow/images/image1.jpeg" style="width: 512px;">

        <div style="color: green; font-size: 48px;">
          Smaller text below the image.
          Smaller text below the image.
          Smaller text below the image.
        </div>
      </div>
    </div>

  </sd-scaling-wrapper>
</div>


<h3>slide small</h3>
<div class="slide slide-small">
  <sd-scaling-wrapper>
    <div [innerHtml]="sampleProblemHtml"></div>
  </sd-scaling-wrapper>
</div>

<h3>slide medium</h3>
<div class="slide slide-medium">
  <sd-scaling-wrapper>
    <div [innerHtml]="sampleProblemHtml"></div>
  </sd-scaling-wrapper>
</div>

<h3>slide large</h3>
<div class="slide slide-large">
  <sd-scaling-wrapper>
    <div [innerHtml]="sampleProblemHtml"></div>
  </sd-scaling-wrapper>
</div>

<h3>Nested ScalingWrapperComponent instances</h3>

<div style="width: 512px; background-color: red;">
<sd-scaling-wrapper>
  <div style="width: 512px; background-color: lightgreen;">
  <sd-scaling-wrapper>
    <div style="width: 512px; height: 512px; background-color: lightblue;">
      This div has fixed dimensions of 512px x 512px at 1:1 scale.
    </div>
  </sd-scaling-wrapper>
  </div>
</sd-scaling-wrapper>
</div>


