.slide {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.slide-thumbnail {
  width: 100px;
  padding: 5px;
  margin: 5px;
}

.slide-small {
  width: 250px;
  padding: 5px;
  margin: 5px;
}

.slide-medium {
  width: 500px;
  padding: 10px;
  margin: 10px;
}

.slide-large {
  width: 1000px;
  padding: 20px;
  margin: 20px;
}


