
<div class="row fullscreen" style="height:100%;width:100%;background-color:grey;">
  <div class="col s2" style="width:20px;font-size:20pt;" [innerHtml]="vertical(trainingSet.left)"></div>
  <div
    (swipeRight)="handleSwipeRight()"
    (swipeLeft)="handleSwipeLeft()"
    class="col s8"
  >
    <sd-problem-with-solution
      [problemTemplate]=" trainingSet.baseUrl + trainingSet.examples[0].image "
      [solutionTemplate]=" indicator "
    ></sd-problem-with-solution>
  </div>
  <div class="col s2" style="width:20px;font-size:20pt;" [innerHtml]="vertical(trainingSet.right)"></div>
</div>
