<div class="interface">
  <div class="chooser">
    <div class="answer"
      [innerHtml]="vertical(trainingSet.left)"
    ></div>
    <div
      class="exhibit"
      (swipeRight)="handleSwipeRight()"
      (swipeLeft)="handleSwipeLeft()"
    >
      <img [src]=" trainingSet.baseUrl + trainingSet.examples[0].image " />
    </div>

    <div class="answer"
      [innerHtml]="vertical(trainingSet.right)"
    ></div>

  </div>
  <div class="indicator" *ngIf=" indicator !== null ">
    <div [innerHtml]=" indicator "></div>
  </div>

</div>
