<!-- Use relative positioning so children can be absolutely positioned. -->
<div class="sparrow-deck-card">

  <!-- The problem div is just part of the normal element flow. -->
  <div #problemDiv>
    <sd-scaling-wrapper>
      <img [src]="problemHtml" style="width:100%;"/>
      <!--<div [innerHtml]="problemHtml"></div>-->
    </sd-scaling-wrapper>
  </div>

  <!--
    The solution div is absolutely positioned exactly on top of the problem
    div. Note that the width is set in the code for this component, as setting
    it here via [style.width.px] binding can throw a change detection
    exception.
  -->
  <div #solutionDiv
    style="position: absolute;"
    [style.top.px]="problemDiv.offsetTop"
    [style.left.px]="problemDiv.offsetLeft"
  >
    <sd-scaling-wrapper *ngIf="showSolution">
      <div style="font-size: 128px; color: gold;" [innerHtml]="solutionHtml"></div>
    </sd-scaling-wrapper>
  </div>

</div>
