<!--
  <h1>Sparrow Spike</h1>

<ul>
  <li routerLinkActive="active"><a [routerLink]="[ '/'          ]"> Home                  </a></li>
  <li routerLinkActive="active"><a [routerLink]="[ '/sandbox'   ]"> Sandbox               </a></li>
  <li routerLinkActive="active"><a [routerLink]="[ '/animation' ]"> Animation Experiment  </a></li>
  <li routerLinkActive="active"><a [routerLink]="[ '/swipe'     ]"> Swipe Experiment      </a></li>
  <li routerLinkActive="active"><a [routerLink]="[ '/presenter' ]"> Presenter             </a></li>
  <li routerLinkActive="active"><a [routerLink]="[ '/sparrows' ]"> Sparrows             </a></li>
</ul>

<hr>
-->
<router-outlet></router-outlet>
